:root {
    --primary: #690202;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background: #eeefe7;
    user-select: none;
    min-height: 100vh;
}

header {
    background: #333232;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

#mainTitle {
    font-size: 42px;
    padding: 20px;
    background: var(--primary);
}

#navlinks {
    display: flex;
    margin-right: 10px;
}

.headerlinks {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    color: white;
    font-size: 20px;
}

.hero-banner {
    position: relative;
    text-align: center;
    color: white;
    font-size: 40px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.bannerheading {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


/* Grids */


/* Page Grid */
.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "name"
        "bioContainer"
        "workContainer"
        "contactContainer"
}

#bio-image-container {
    grid-area: name;
}

#bioContainer {
    grid-area: bioContainer;
}

#workContainer {
    grid-area: workContainer;
}

#contactContainer {
    grid-area: contactContainer;
}

/* Image Grid */

#bio-image-container {
    display: grid;
    height: 200px;
    grid-template-rows: 1fr;
    grid-template-columns: 15% 85%;
    grid-template-areas:
        "left right";
}

#image {
    grid-area: left;
    background-image: url(./images/avatar.jpg);
    display: flex;
    border: 1px solid black;
    border-right: 5px solid black;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
    padding-right: 20px;
}

#name {
    grid-area: right;
    display: flex;
    align-items: center;
}

/* Bio Grid */
#bioContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 15% 85%;
    grid-template-areas:
        "left right";
}

#bioTitle {
    font-size: 30px;
    border-right: 5px solid black;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

#bioText {
    padding-left: 10px;
    grid-area: right;
}

/* Work Grid */

#workContainer {
    display: grid;
    grid-template-rows: 300px 200px 200px;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-areas:
        "left p1 p1"
        "left p2 p3"
        "left p4 p5";
}

#workTitle {
    font-size: 30px;
    grid-area: left;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    border-right: 5px solid black;
    margin-right: 30px;
}

.projectTitle {
    background: var(--primary);
    padding: 20px;
}

#firstProject {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    border: 5px solid var(--primary);
    grid-area: p1;
    background-image: url(./images/sunset.jpg);
    background-size: cover;
    background-position: center;
}

#secondProject {
    background-color: #1f851f;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid var(--primary);
    grid-area: p2;
    background-image: url(./images/sea.jpg);
    background-size: cover;
    background-position: center;
}

#thirdProject {
    background-color: #1f851f;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 5px solid var(--primary);
    grid-area: p3;
    background-image: url(./images/beach.jpg);
    background-size: cover;
    background-position: center;
}

#fourthProject {
    background-color: #1f851f;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid var(--primary);
    grid-area: p4;
    background-image: url(./images/forest.jpg);
    background-size: cover;
    background-position: center;
}

#fithProject {
    background-color: #1f851f;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 5px solid var(--primary);
    grid-area: p5;
    background-image: url(./images/cliffside.jpg);
    background-size: cover;
    background-position: center;
}

.workLinks {
    text-decoration: none;
    color: white;
}


/* Contact Grid */

#contactContainer {
    display: grid;
    margin-top: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: 15% 85%;
    grid-template-areas:
        "left right";
}

#contactTitle {
    font-size: 30px;
    grid-area: left;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    border-right: 5px solid black;
    margin-right: 30px;
}

#contactInfo {
    display: flex;
    justify-content: space-around;
    grid-area: right;
    font-weight: bold;
    padding-left: 0px;
}

.contact-details {
    text-decoration: none;
    color: #ca0808;
}


/* Media Queries */

/* Header */

@media screen and (max-width: 690px) {
    header {
        display: flex;
        flex-direction: column;
    }
}

/* Hero Banner */

@media screen and (max-width: 690px) {
    .bannerheading {
        position: absolute;
        left: 16px;
    }
}

/* Name and Bio image */

@media screen and (max-width: 690px) {
    #bio-image-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "up"
            "down";
    }

    #name {
        grid-area: up;
        display: flex;
        justify-content: center;
    }

    #image {
        grid-area: down;
        display: flex;
        justify-content: center;
        height: 250px;

        border-right: none;
        margin-right: 0px;
        padding-right: 0px;
    }
}

/* Bio content */

@media screen and (max-width: 690px) {
    #bioContainer {
        display: grid;
        margin-top: 20px;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "up"
            "down";
    }

    #bioTitle {
        grid-area: up;
        display: flex;
        justify-content: flex-start;
        border-bottom: 5px solid black;
        border-right: none;
        margin-top: 150px;
        margin-right: none;
        padding: none;
    }

    #bioText {
        grid-area: down;
        display: flex;
    }
}

/* Portfolio content */

@media screen and (max-width: 690px) {
    #workContainer {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "up"
            "p1"
            "p2"
            "p3"
            "p4"
            "p5";
    }

    #workTitle {
        grid-area: up;
        display: flex;
        justify-content: flex-start;
        border-bottom: 5px solid black;
        border-right: none;
    }

    .projectTitle {
        padding: 10px;
    }

    #firstProject {
        grid-area: p1;
    }

    #secondProject {
        grid-area: p2;
        margin-right: 0px;
    }

    #thirdProject {
        grid-area: p3;
    }

    #fourthProject {
        grid-area: p4;
        margin-right: 0px;
    }

    #fithProject {
        grid-area: p5;
    }
}

/* Contact info */

@media screen and (max-width: 690px) {
    #contactContainer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "up"
            "down";
    }

    #contactTitle {
        grid-area: up;
        display: flex;
        justify-content: flex-start;
        border-bottom: 5px solid black;
        border-right: none;
    }

    #contactInfo {
        grid-area: down;
        display: flex;
        flex-direction: column;
    }
}